streamlit
requests
PyPDF2
pytesseract
opencv-python-headless
beautifulsoup4
pinecone-client
langchain-google-genai
langchain
openai
langchain-community
numpy==1.23.5
spacy==3.6.1
thinc==8.1.0
spacy[en_core_web_sm]


