streamlit
requests
PyPDF2
pytesseract
opencv-python-headless
beautifulsoup4
pinecone-client
langchain-google-genai
langchain
openai
langchain-community
numpy
spacy
thinc
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz





